.login-form{
    max-width: 570px!important;
}
.register-form{
    max-width: 600px!important;
}

.force-100{
    min-width:100%;
}
.force-80{
    min-width:80%;
}
.box-design{
    border-top :0.2em solid #16a085!important;
}

#content-body{
    background-color: rgba(236, 240, 241,0.67);
}
.col-form-label{
    font-size: 0.875em!important;
}
@media (min-width: 481px) and (max-width: 1280px) {
  
    .qtyButton{
        padding-left:0.3em!important;
        padding-right:0.3em!important;
    }
    
  }

@media (max-width: 480px){
    .qtyButton{
        margin-top: 10px;
        
    }
    .searchModalTitle {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
     }
}
#qtyButtonGroup{
    width:100%!important;
}

.moduleTitle{
    text-transform: uppercase;
}

h1{
    font-family: 'Nunito', sans-serif;
}
body{
    font-family: 'Nunito', sans-serif!important;
}
.searchModalTable{
    font-size: 1em;
}
.react-bootstrap-table table {
    table-layout: auto;
  }
.searchModalTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
 }
 

 @media (min-width: 481px){
    .searchModalImage{
        max-width: 50%!important;
    }
 }
 .productImageBox{
    width:18rem;
 }

 @media (min-width: 481px) and (max-width: 1280px) {

    .productImageBox{
        width:12rem;
     }
    
  }
  @media (max-width: 480px){
    .productImageBox{
        width:100%;
     }
 }

 .error-notice{
    background-color: rgba(192, 57, 43,0.3);
    margin: 10px 0px 10px 0px;
    padding: 7px;
    border-radius: 2px;
 }
 .error-close-button{
    float: right;
    background-color: rgba(192, 57, 43,0);
    border: none;
    font-weight: 400;
    font-size: small;
    
 }

 .error-close-message{
    color:#fff;
 }

 .success-notice{
    background-color:rgba(39, 174, 96,0.4);
    margin: 10px 0px 10px 0px;
    padding: 7px;
    border-radius: 2px;
 }
 .success-close-button{
    float: right;
    background-color: rgba(39, 174, 96,0);
    border: none;
    font-weight: 400;
    font-size: small;
 }
 /* .searchLoader:after{
    content:"Please wait"
 } */

 .navText{
     padding: 0px 10px 0px 10px;
 }

.card-stats{
    padding: 10px 10px 0px!important;
}


.dashboard-card-footer{
    background-color:rgba(255,255,255)!important;
}
@media (min-width: 1281px){
    .dashboard-card-title{
        color:#7f8c8d;
    }
    .dashboard-card-subtitle{
        font-size:1.5em!important;
    }
    .dashboard-card-title{
        font-size:0.85em!important;
    }
    .dashboard-card-img{
        max-width: 60%!important;;
    }
}
@media (min-width: 319px) and (max-width: 1280px) {
    .dashboard-card-title{
        font-size:0.85em!important;
    }
    .dashboard-card-subtitle{
        font-size:1.2em!important;
    }
    .dashboard-card-img{
        max-width: 90%!important;;
    }
    .dashboard-card-footer{
        padding-right:10px!important;
        padding-left:10px!important;
    }
  }
.moduleHeader{
    margin-top:15px;
    margin-bottom:15px;
}
.logo{
    max-height:50px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .center {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .power-button{
      margin: 10px 0px;
  }

  .nipple .front{
      background-color: #341f97!important;
  }
  .nipple .back{
    background-color: rgba(95, 39, 205,0.4)!important;
}

.main-body{
    padding-right: 10px!important;
    padding-left:100px!important;
}


.dashboard-box-design{
    border-top :0.2em solid #16a085!important;
    box-shadow:0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    border-radius: 0.35rem!important;
}
.dashboard-box-design-card-header:first-child{
    border-radius:calc(.35rem - 1px) calc(.35rem - 1px) 0 0!important;

}

.dashboard-box-design-card-header{
    padding: .75rem 1.25rem!important;
    margin-bottom: 0!important;
    background-color: #f8f9fc!important;
    border-bottom: 1px solid #e3e6f0!important;
    color:#4e73df!important;
    font-weight: 700!important;
}
.btn-primary,.badge-primary{
    background-color: #321fdb!important;
    border-color: #321fdb!important;
}
.btn-outline-primary{
    border-color: #321fdb!important;
    color: #321fdb!important;
}
.btn-outline-primary:hover{
    background-color: #321fdb!important;
    color:#fff!important;
}
.no-robot-container{
    width: 100%;
  margin: 20% auto;
  text-align: center;
}

.countrySelector{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.robot-container{
    padding:0.5% 3%;
}

.robot-card-stats,.robot-card-stats-inactive{
    margin:1%!important;
    cursor: pointer;
}

.robot-card-stats:hover,
.robot-card-stats:focus{
    box-shadow: 0 0.5em 0.5em -0.4em #321fdb;
    border: 1px solid #321fdb;
    transform: translateY(-0.25em);
    transition: 0.15s;
    
}
.center-content{
    display: flex;
    justify-content: center;
  }

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #fff!important;
    background-color: #16a085!important;
    border-color: #16a085!important;
  }
  .nav-tabs{
      border-bottom:1px solid #16a085!important;
  }
  :is(.nav) a{
      color:inherit;
  }

  :is(.nav) a:hover{
      border:none;
  }

  .scroll-column {
    height: calc(100vh - 110px);
    overflow-y: scroll;
}
.btn:focus,.btn:active{
    box-shadow: none!important;
  
  }
